<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>appliWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
	    <session-timeout>3</session-timeout> <!-- session http expirant au bout de 3 mn d'inactivité --> 
	</session-config>
	
	<!-- si pas de @WebServlet("/TvaServlet") dans le code java -->
    <!--  
	<servlet>
		<servlet-name>TvaServlet</servlet-name>
		<servlet-class>tp.web.TvaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TvaServlet</servlet-name>
		<url-pattern>/TvaServlet</url-pattern>
	</servlet-mapping>
	-->
</web-app>